@page {
margin: 0cm 0cm;
}

body {
margin-top: 2cm;
margin-left: 2cm;
margin-right: 2cm;
margin-bottom: 1.5cm;
}

header {
position: fixed;
top: 0cm;
left: 0cm;
right: 0cm;
height: 2cm;

width: 100%;
height: 15px;
padding: 1.5rem;
border-bottom: 5px solid #032450;
}

table{
width: 70%;
margin: 1rem auto;
}

table thead{
background-color: #032450;
text-align: center;
color: white;
font-size: .9rem;

}

table thead th{
padding: 0.5rem;
}

table tbody{
font-size: 0.9rem;
font-family: Arial, Helvetica, sans-serif;
}

table tbody tr td:nth-child(2),
table tbody tr td:nth-child(3){
text-align: center;
}

table tbody tr td:nth-child(3){
color: #b84600;
}

.table-striped>tbody>tr:nth-child(odd)>td {
background-color: rgb(255, 255, 255);
cursor:pointer;
}
.table-striped>tbody>tr:nth-child(even)>td{
background-color: #eaeaea;
cursor:pointer;
}

footer {
position: fixed;
bottom: 0cm;
left: 0cm;
right: 0cm;
height: 2cm;

text-align: left;
line-height: .5cm;
border-top: 5px solid #b84600;
}

#logo-companya{
width: 70px;
}

#logo-companyb{
width: 100px;
}

h1{
display: inline;
font-size: 1rem;
text-align: center;
margin-right: 6rem;
margin-left: 6rem;
padding: 1rem 3rem;
text-transform: uppercase;
color: #032450;
}

h5{
font-size: 0.8rem;
margin: 0.3rem auto;
text-align: center;
font-weight: bold;
}

#logo-companyfooter{
display: inline;
width: 100px;
text-align: center;
}

.time {
float: right;
}
