.invalid-feedback{
color: rgb(255, 0, 0);
}

.is-required:before {
content: '*';
margin-left: 3px;
color: rgb(255, 0, 0);
font-weight: bold;
}

.modal-header {
padding:9px 15px;
border-bottom:0px solid #eee;
background-color: #25476a;
color:#fff;
font-weight: bold;
}

/* input file */
.upload-box{
font-size: 12px;
background:white;
border-radius: 8px;
box-shadow: 2px 2px 5px #25476a;
width:300px;
outline:none;
cursor: pointer;
}

::-webkit-file-upload-button{
color: white;
background: #25476a;
padding: 7px;
border: none;
border-radius: 8px;
outline:none;
width: 140px;
cursor: pointer;
}

::-webkit-file-upload-button:hover {
background: #032450;
}


/* --------------Imagenes de inserción manual (create) -----*/
.img-cent{
display: block;
margin: auto;
border:0;
width: 265px;
height: 130px;
border: 2px dashed #C0C0C0;
border-radius: 5%;
cursor: pointer;
}

/* --------------Imagenes del preview del formulario crear ------*/
.img-preview{
display: block;
margin: auto;
border:0;
width: 135px;
height: 130px;
cursor: pointer;
}

.img-preview:hover{
    filter: saturate(120%);

}

/* --------------Imagenes de consulta en tablas index -----*/
.profile-image {
display: block;
margin: auto;
border:0;
width: 45px;
height: 45px;
border-radius: 5px;

}
.profile-image:hover {
filter: saturate(130%);
}

/* --------------Imagenes de consulta (show) -----------------*/
.img-show{
display: block;
margin: auto;
/* border: 1px solid #032450; */
width: 140px;
height: 150px;
border-radius: 5%;
cursor: pointer;
-webkit-transform: scale(1.0);
-moz-transform: scale(1.0);
-o-transform: scale(1.0);
-ms-transform: scale(1.0);
transform: scale(1.0);
opacity: .9;
-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7,
transparent), to(rgba(0,0,0,0.4)));
-webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
-moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
}

.img-show:hover{
-webkit-transform:scale(1.4);transform:scale(1.4);

}

/* -----------------div del formularios create -------- */
.create{
background:rgb(255, 255, 255);
border-radius: 10px;
box-shadow: 0px 0px 5px 3px #C0C0C0;
width:100%;
outline:none;
cursor: pointer;
}

.invalid {
border: solid 1px red;
box-shadow: 0 0 5px red;

}
